<header>
  <div class="navbar bg-white text-primary">
    <div class="flex-1">
      <button class="btn btn-ghost text-2xl">JOB GENIE</button>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal gap-4 items-center">
        <li><a routerLink="/" class="text-neutral text-lg">Home</a></li>
        <li>
          <a routerLink="/generate" class="text-neutral text-lg">Generate</a>
        </li>
        <li><a routerLink="/login" class="text-neutral text-lg">Login</a></li>
        <li>
          <a routerLink="/register" class="btn btn-primary text-lg">Register</a>
        </li>
      </ul>
    </div>
  </div>
</header>
